<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_FILE" value="logs/cqrsStudy.log"/>

    <!-- Console Appender with custom JSON Layout -->
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="observability.JsonLayout"/>
    </appender>

    <!-- Rolling File Appender with custom JSON Layout -->
    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <layout class="observability.JsonLayout"/>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
        <appender-ref ref="JSON_FILE"/>
    </root>

    <!-- Specific Logger for practice.cqrsstudy package -->
    <logger name="practice.cqrsstudy" level="DEBUG" additivity="false">
        <appender-ref ref="JSON_CONSOLE"/>
        <appender-ref ref="JSON_FILE"/>
    </logger>

    <!-- Logger for observability package to ensure structured logs are not double-wrapped -->
    <logger name="observability" level="INFO" additivity="false">
        <appender-ref ref="JSON_CONSOLE"/>
        <appender-ref ref="JSON_FILE"/>
    </logger>

</configuration>